<div class="footer-button productlist">
  <span class="iconimg product product-clicked" name=product onclick="section_transfer('product');"></span>
</div>
<div class="footer-button likeitemlist">
  <span class="iconimg likeitem" name=likeitem onclick="section_transfer('likeitem');"></span>
</div>
<div class="footer-button shoplist" >
  <span class="iconimg shop" name=shop onclick="section_transfer('shop');"></span>
</div>
<div class="footer-button likeshoplist">
  <span class="iconimg likeshop" name="likeshop" onclick="section_transfer('likeshop');"></span>
</div>
<div class="footer-button etclist" style="display:none;">
  <span class="iconimg etc" name="etc" onclick="section_transfer('etc');"></span>
</div>

<script>
    function section_transfer(menu){

        window.stop();
        var menu = menu;
        $("span[class*=clicked]").each(function(i,e){e.className+=e.getAttribute('name')})
        $("."+menu).toggleClass(menu+"-clicked");
        $(".contents-frame").load("/section/"+menu,function(){});
        if(menu==="product"){
            $(".itemfilter-button").show();
             $(".itemsearch-button").show();
        }else{
            $(".itemfilter-button").hide();
            $(".itemsearch-button").hide();
        }
        window.scrollTo(0,0);

    }

</script>