<div class="footer-button productlist clicked">
  <span class="glyphicon glyphicon-cutlery" name=product onclick="section_transfer('product');ga('send','event','section','move','product');"></span>
</div>
<div class="footer-button likeitemlist">
  <span class="glyphicon glyphicon-heart" name=likeitem onclick="section_transfer('likeitem');ga('send','event','section','move','likeitem');"></span>
</div>
<div class="footer-button homelist">
  <span class="glyphicon glyphicon-send" name="home" onclick="section_transfer('home');ga('send','event','section','move','home');"></span>
</div>
<div class="footer-button shoplist" >
  <span class="glyphicon glyphicon-home" name=shop onclick="section_transfer('shop');ga('send','event','section','move','shop');"></span>
</div>
<div class="footer-button likeshoplist">
  <span class="glyphicon glyphicon-star" name="likeshop" onclick="section_transfer('likeshop');ga('send','event','section','move','likeshop');"></span>
</div>

<script>
    function section_transfer(menu){

        window.stop();
        var menu = menu;
        $("span[class*=clicked]").each(function(i,e){e.className+=e.getAttribute('name')})
        $(".footer-button").removeClass("clicked");
        $("."+menu+"list").addClass("clicked");
        $(".contents-frame").load("/section/"+menu,function(){});
        if(menu==="product"){
            $(".itemfilter-button").show();
            $(".itemsearch-button").attr('onclick','item_search_toggle(true)').show();
        }else if(menu==="shop"){
            $(".itemfilter-button").hide();
            $(".itemsearch-button").attr('onclick','shop_search_toggle(true)').show();
        }
        else{
            $(".itemfilter-button").hide();
            $(".itemsearch-button").hide();
        }
        window.scrollTo(0,0);

    }

</script>