<Script>
  switcher = false;
  end_param = false;
  $(".body-divide").attr('style','padding-bottom:15%;')
</Script>
<div class="browser-contents" style="margin-top:9vh;">
  <%= render "front/items/contents" %>
</div>