<Script>
  switcher = false;
  end_param = false;
  window.scrollTo(0,0);
  $(".body-divide").attr('style','padding-bottom:15%;')
  <% if current_user.nil? %>
    $(".likelist").addClass('likelist-item-empty');
    $(".likelist>div").attr("style","");
  <% elsif current_user.userlikeitems.where(:active=>true).empty? %>
    $(".likelist").addClass('likelist-item-empty');
    $(".likelist>div").attr("style","");
  <% end %>
</Script>
<div class="browser-contents likelist" style="margin-top:9vh;">
  <%= render "front/items/contents" %>
</div>
<script>
    $(".browser-contents").attr('style','margin-top:44px;height:88%;');
    $(".contents-end").hide();
</script>