<div class="modal-dialog intro-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body intro-body">
      <div class="face">
        <div class="face-padding"></div>
        <div class="face-message">
          <div class="face-header">예쁜 그릇을 사랑하시나요?</div>
          <div class="ask-step">
            <div onclick="call_ask()">상품 추천 받기</div>
          </div>
          <div class="ask-step">
            <div onclick="call_login()">로그인/무료회원가입</div>
          </div>
        </div>
        <div class="face-footer" onclick="$('.modal').modal('hide');">
          <div >로그인 없이 둘러보기 <span>></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if(getCookie('intro_switch')===''||getCookie('intro_switch')==='true'){
  <% if current_user.nil?%>
    $(".intro").modal('show');
  <% elsif current_user.prefer.nil? %>
    $(".intro").modal('show');
  <% end%>
    document.cookie = "intro_switch=true";
  }
    function call_ask(){
        $(".intro").modal('hide');
        $(".ask").modal('show');
    }
    function call_login(){
        $(".intro").modal('hide');
        $(".login-modal").modal('show');
    }
</script>