
<form action=/db_input method=post>
<select name="table">
  <option value="merchant">merchant</option>
  <option value="product">product</option>
</select>
<textarea rows="100" cols="100" name="input_textarea"></textarea>
<input type=submit value="input">
</form>
