<section style="text-align:center; color:darkgreen;">
  <div style="margin-top:10%;">

    <p>
      홈페이지 주소를 넣어주세요(shop들 모을때 DB에 등록한 주소)
    </p>
    <p>
      <input id="shop_url" type="text" name="shop" placeholder="ex)http://hello.com" />
    </p>
    <p> 인코딩을 선택해주세요 (대부분 그냥 두면 됨 세부 정보까지 다 깨질때만 바꿔서 해볼것)</p>
    <p>
      <select id="encoding">
        <option value="utf-8">UTF-8</option>
        <option value="euc-kr">euc-kr</option>
      </select>
    </p>

  </div>

  <div>
    <p>
      앨범형으로 제품들이 나열되어 있는 주소를 넣어주세요
    </p>
    <p class="category_mom">
      <input type="text" class="album_category"  placeholder="?이전까지의 주소"><br>
      <input type="text" class="album_category" placeholder="?이후의 주소(파라미터)"><br><br>

    </p>
    <p>
      <span style="font-size:1.2m; border:1px solid grey;"onclick="add_category()">카테고리 추가하기</span><br>
      <input id="album_css" type="text" name="album_css" placeholder="제품의 css 분류"><button onclick="check_go('album')" >확인하기</button>
    </p>
    <p id=album_example style="color:grey; border:1px solid grey; width:90%; margin:auto;">이곳에 하나의 앨범박스의 예시가 표시됩니다</p>

  </div>

  <div>
    <p>
      제품 상세페이지에서 필요한 column에 해당하는 정보가 있는 xpath를 복사해주세요
    </p>
    <p>
      url이 담겨있는 a태그 : <input id="product_url" type="text" placeholder="url이 담겨있는 a태그"><br>
      제품 이름 : <input id="product_title" type="text" name="product_title" placeholder="제품명"><br>
      이미지 태그 : <input id="product_img" type="text" name="product_img" placeholder="대표이미지"><br>
      가격 : <input id="product_price" type="text" name="product_price" placeholder="가격"><br>
      <button onclick="check_go()">확인하기</button>
    </p>
    <p id=full_example style="color:grey; border:1px solid grey; width:90%; margin:auto;">이곳에 하나의 세부 정보 예시가 표시됩니다</p><br>
  </div>

  <button style="height:100px; width:300px; border:solid 1px grey;" onclick="spider_go();">Go</button>

  <div style="width:100% text-align:center;">
    <div style="width:100%;">
    <table id="input" style="width:100%;">
      <tbody>
      <tr>
        <th>Shop url</th>
        <th>Encoding</th>
        <th>Category url</th>
        <th>Album</th>
        <th>A tag</th>
        <th>Title</th>
        <th>Price</th>
        <th>IMG</th>
      </tr>
      </tbody>
    </table>
    </div>
  <div style="width:100%;">
  <table id="result" style="width:100%;">
    <tbody>
    <tr>
      <th>카테고리 url</th>
      <th>상품이름</th>
      <th>가격</th>
      <th>상품url</th>
      <th>이미지</th>
    </tr>
    </tbody>
  </table>
  </div>
  </div>
</section>
<script>
  function add_category(){
      $(".category_mom").append("      <input type=\"text\" class=\"album_category\"  placeholder=\"첫 페이지의 url\"><br>\n" +
          "      <input type=\"text\" class=\"album_category\" placeholder=\"마지막페이지\"><br><br>");

  }

  function spider_go(){


      var mainpage = $("#shop_url")[0].value;
      var category= $(".album_category").map(function(){return this.value}).get();
      var album_css = $("#album_css")[0].value;
      var product_url = $("#product_url")[0].value;
      var product_title = $("#product_title")[0].value;
      var product_img = $("#product_img")[0].value;
      var product_price = $("#product_price")[0].value;
      var encoding = $("#encoding option:selected").attr('value');
      $.ajax({
          url:"/db_spider_result",
          method:"POST",
          data:{encoding:encoding, mainpage:mainpage, product_url:product_url, category:category, album_css:album_css, product_title:product_title, product_img:product_img, product_price:product_price}
      }).done(function(data) {
          $("#input").append("<tr>" +
              "<td>" + mainpage +
              "</td>" +
              "<td>" + encoding +
              "</td>" +
              "<td>" + category.join() +
              "</td>" +
              "<td>" +album_css +
              "</td>" +
              "<td>" +product_url +
              "</td>" +
              "<td>" + product_title +
              "</td>" +
              "<td>" + product_price +
              "</td>" +
              "<td>" + product_img +
              "</td>" +
              "</tr>");
          $("#result").append(data);



      });


  }
  function check_go(data){
      var mainpage = $("#shop_url")[0].value;
      var category= $(".album_category").map(function(){return this.value}).get();
      var album_css = $("#album_css")[0].value;
      var product_url = $("#product_url")[0].value;
      var product_title = $("#product_title")[0].value;
      var product_img = $("#product_img")[0].value;
      var product_price = $("#product_price")[0].value;
      var encoding = $("#encoding option:selected").attr('value');

      if(data==='album'){
          $.ajax({
              url:"/db_spider_result",
              method:"POST",
              data:{encoding:encoding, mainpage:mainpage, category:category, album_css:album_css, check:'album'},
              error:function(data){alert("아예 크롤링이 안됐네요 셀렉터를 확인해주세요")}
          }).done(function(data){

              $("#album_example").text(data);


          });
      }else{
          $.ajax({
              url:"/db_spider_result",
              method:"POST",
              data:{encoding:encoding, check:'all', mainpage:mainpage, product_url:product_url, category:category, album_css:album_css, product_title:product_title, product_img:product_img, product_price:product_price},
              error:function(data){alert("아예 크롤링이 안됐네요 셀렉터를 확인해주세요")}
          }).done(function(data){
              $("#full_example").html(data);

          });
      }




  }
</script>



