



<div class=top-bar>
  <%= render partial: "front/browse/top_bar" %>
</div>
<div class="tag-browser">
  <%= render "front/browse/tag_browser" %>
</div>
<div class="browser-contents">
  <%= render "front/browse/contents" %>
</div>


