<div class="top-backnav">
  <%= render "front/outframe/top_backnav" %>
</div>
<div class="outlink-frame">
  <%= render "front/outframe/outlink_frame"%>
</div>
<% if false#@device_check %>
<div class="outlink-footer">
  <%= render "front/outframe/outlink_footer"%>
</div>
<% end %>