<div class="bridge"></div>
<iframe src="<%=@record.url%>" height="350px" width="500pxiiiiiiiii"style="display:block;" class="outlink-iframe">
</iframe>

<script>
  $(document).ready(function(){
      setTimeout(function(){ $(".bridge").hide(); $(".outlink-iframe").show(); }, 100);

  })

</script>
