<div class="bridge"></div>
<iframe style="display:none;" class="outlink-iframe">
</iframe>


<script>
  $(document).ready(function(){
      setTimeout(function(){ $(".bridge").hide(); $(".outlink-iframe").show().attr('src',"<%=@record.url%>"); }, 100)

  })

</script>
