<div class="search-input form-group has-feedback has-feedback-left">
  <input type="text" placeholder="검색 키워드를 입력해주세요" />
  <i style="left:0;font-size:1.2em;color:#a7c9a9;"class="glyphicon glyphicon-search form-control-feedback"></i>
</div>

<div class="search-end" onclick="item_search_toggle(false)">
  <div>취소</div>
</div>

