
<div class="noti-button" style="width:60%;">
  <span class="sortbutton sort-active" sort_type="rating" sort_value="desc" onclick="filter_sort(this,'rating','desc');">인기순</span>
  <span class="sortbutton" sort_type="price" sort_value="desc" onclick="filter_sort(this,'price','desc');">고가순</span>
  <span class="sortbutton" sort_type="price" sort_value="asc" onclick="filter_sort(this,'price','asc');">저가순</span>
</div>
<div class="noti-button" style="width:19%; display:none;">
  <span class="pricebutton" onclick="price_filter()">가격필터</span>
</div>
<div class="price-range" style="display:none">
  <div class="price-range-header">
    <span>원하는 가격대 설정<br></span>
    <span>해당 범위 내의 상품들만 보여드립니다</span>
  </div>
  <div class="range-bar">
    <div class="slider-range">
      <span>
        <span class="price-from">500</span>원 ~<span class="price-to">10000</span>원
      </span>
    </div>
    <div id="slider-range"></div>
  </div>
  <div class="price-range-button">
    <div class="price-reset">초기화</div>
    <div class="price-apply">적용하기</div>
  </div>
</div>
<div class="noti-button" onclick="prefer_reset();ga('send','event','filter','popup','notibar');" style="float:right;">
  <span>다시 설정하기</span>
</div>
<div class="noti-scroll" onclick="$('html, body').animate({ scrollTop: 0 }, 300);" style="display:none;">
  <span class="glyphicon glyphicon-arrow-up"></span>
</div>
<script>

    //태그를 입력받는다 제이쿼리로 보낸다
    //제이슨으로 받아서 틀 하나 만들어두고 반복문으로 dom재생성한다
    //아니면 아래 부분만 새로운 데이터로 리로드한다
    var slider = document.getElementById('slider-range');
    noUiSlider.create(slider, {
        start: [0, 100],
        connect: true,
        range: {
            'min': 0,
            'max': 100
        }
    });
    var page = 1;
    var end_param = true;
    function prefer_reset(){
        $(".filter-popup").modal('show');
    }
    function price_filter(){
        $(".pricebutton").addClass("sort-active");
        $(".price-range").show();

    }
    function filter_sort(a,type,value){
        $(".sortbutton").not(a).removeClass('sort-active');
        $(a).addClass("sort-active");
        $(".browser-contents").load('/product_sort?sort_type='+type+'&sort_value='+value,function(){});
        switcher = true;
        end_param = true;
        page = 1;
    }

    function tag_sort(){
        $(".filter-popup").find(".tag-button-clicked").removeClass('tag-button-clicked');
        var tags = $('.tag-button-clicked');
        parameter = "";
        $.each(tags,function(index, value){
            parameter = parameter +','+ value.getAttribute('id');
        });
        window.scrollTo(0,0);
        page = 1;
        end_param = true;
        $(".browser-contents").fadeOut(0).load("/contents/item/"+parameter, function(){}).fadeIn(300).scrollTop(1);

        // 반복문 만들어서 string으로 붙인 다음에 파라미터로 넘긴다
        // index창에서는 파라미터 값에 따라 표시되는 record를 바꾸고
        // 뷰페이지에서는 해당 레코드배열을 표시해주게 된다



    }



    var browser = $(window);
    var switcher = true;
    window.scrollTo(0,0);

    browser.scroll(function(){
        var category = $("#카테고리>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var style = $("#스타일>.tag-button-clicked").attr('id');
        var purpose = $("#용도>.tag-button-clicked").attr('id');
        var color = $("#색상>.color-button-clicked").map(function(){return this.id}).get().join(',');
        var sort_type = $(".sort-active").attr('sort_type');
        var sort_value = $(".sort-active").attr('sort_value');

        console.log("scrollevent");
        if(category.length===0){
            category = "index";
        };

        if($('body')[0].scrollHeight-browser.scrollTop()<browser.outerHeight()+90)
        {   console.log("90");
            if(switcher&end_param) {
                ga('send','event','product','scroll',category+','+style+','+purpose);
                $(".body-divide>.contents-loading:last-child").show();

                $("<div>").load("/slide_contents/item/" + category + "?page=" + page+"&hashtag="+style+','+purpose+"&color="+color+"&sort_type="+sort_type+"&sort_value="+sort_value, function (data) {
                    if(data==="nil"){
                        $(".contents-loading").hide();
                        end_param = false;
                        $(".contents-end>span").text("상품리스트 추가 요청하기");
                        $(".contents-end").show();
                    }else {
                        append_str = $(this).find(".body-divide");

                        $(".browser-contents").find(".body-divide")[0].append(append_str[0]);
                        $(".body-divide>.body-divide>div").unwrap();

                        $(".browser-contents").find(".body-divide")[1].append(append_str[1]);
                        $(".body-divide>.body-divide>div").unwrap();

                        $(".contents-loading").hide();
                    };

                });
                page = page + 1;
                if(page===2){
                    $(".footer-alarm").show();
                }
                switcher = false;
                setTimeout(function(){switcher=true;},200);
            }
            else{
                console.log("timeout-90");
            }
        }else if ($('body')[0].scrollHeight-browser.scrollTop()<10){

        };
      if(browser.scrollTop()<10){
          $(".noti-scroll").hide();
          $(".noti-button").show();
      }else{
          $(".notibar").attr('style','z-index:3;')
          $(".noti-scroll").show();
          $(".noti-button").hide();
      }


    });

</script>