
<div class="noti-button" style="width:60%;">
  <span class="sortbutton sort-active" sort_type="rating" sort_value="desc" onclick="filter_sort(this,'rating','desc');">인기순</span>
  <span class="sortbutton" sort_type="price" sort_value="desc" onclick="filter_sort(this,'price','desc');">고가순</span>
  <span class="sortbutton" sort_type="price" sort_value="asc" onclick="filter_sort(this,'price','asc');">저가순</span>
</div>

<div class="noti-button" onclick="filter_slide();ga('send','event','filter','popup','notibar');" style="float:right;">
  <i style="line-height:1.8;font-size:1.2em;color:#a7c9a9;" class="glyphicon glyphicon-filter"></i>
</div>
<div class="noti-scroll" onclick="$('html, body').animate({ scrollTop: 0 }, 300);" style="display:none;">
  <span class="glyphicon glyphicon-arrow-up"></span>
</div>
<script>

//    //아니면 아래 부분만 새로운 데이터로 리로드한다
    var page = 0;
    var end_param = true;

    function price_filter(){
        $(".pricebutton").addClass("sort-active");
        $(".price-range").show();

    }
    function filter_sort(a,type,value){
        page = 0; //리로드 - 로딩이 덮이는 곳엔 무조건 0부터 시작한다
        //sort 버튼이 작동한 후 값을 읽어온다
        $(".sortbutton").not(a).removeClass('sort-active');
        $(a).addClass("sort-active");
        sort_type = $(".sort-active").attr('sort_type');
        sort_value = $(".sort-active").attr('sort_value');
        //로딩으로 덮고 기존 데이터를 청소한다
        $("#loading").toggle();
        $(".body-divide").html("");
        window.setTimeout(function(){
            $("#loading").toggle();
        },400);
        //현재 상태 - 검색 등등 을 기준으로 컨텐츠를 가져와서 붙인다
        contents_load();
        switcher = true;
        end_param = true;
    }

    function tag_sort(){
        $(".filter-popup").find(".tag-button-clicked").removeClass('tag-button-clicked');
        var tags = $('.tag-button-clicked');
        parameter = "";
        $.each(tags,function(index, value){
            parameter = parameter +','+ value.getAttribute('id');
        });
        window.scrollTo(0,0);
        page = 1;
        end_param = true;
        $(".browser-contents").fadeOut(0).load("/contents/item/"+parameter, function(){}).fadeIn(300).scrollTop(1);

        // 반복문 만들어서 string으로 붙인 다음에 파라미터로 넘긴다
        // index창에서는 파라미터 값에 따라 표시되는 record를 바꾸고
        // 뷰페이지에서는 해당 레코드배열을 표시해주게 된다
    }



    var browser = $(window);
    var switcher = true;
    window.scrollTo(0,0);
    var category = $("#category>.tag-button-clicked").map(function(){return this.id}).get().join(',');
    var style = $("#style>.tag-button-clicked").attr('id');
    var color = $("#color>.color-button-clicked").map(function(){return this.id}).get().join(',');
    var sort_type = $(".sort-active").attr('sort_type');
    var sort_value = $(".sort-active").attr('sort_value');

    browser.scroll(function(){
        category = $("#category>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        style = $("#style>.tag-button-clicked").attr('id');
        color = $("#color>.color-button-clicked").map(function(){return this.id}).get().join(',');
        sort_type = $(".sort-active").attr('sort_type');
        sort_value = $(".sort-active").attr('sort_value');

        console.log("scrollevent");

        if($('body')[0].scrollHeight-browser.scrollTop()<browser.outerHeight()+190)
        {   console.log("90");
            if(switcher&end_param) {
                ga('send','event','product','scroll',category+','+style);
                $(".contents-loading").show();

                page = page + 1;
                contents_load();
                setTimeout(function(){$(".contents-loading").hide();},200);
                switcher = false;
                setTimeout(function(){switcher=true;},200);
            }
            else{
                console.log("timeout-90");
            }
        }else if ($('body')[0].scrollHeight-browser.scrollTop()<10){

        };
      if(browser.scrollTop()<10){
          $(".noti-scroll").hide();
          $(".noti-button").show();
      }else{
          $(".notibar").attr('style','z-index:3;')
          $(".noti-scroll").show();
          $(".noti-button").hide();
      }


    });


    function contents_load(){
        $.ajax({
          url:"/contents_load",
          method:"GET",
          data:{request_type:on_active,keyword:keyword,id:category,page:page,style:style,color:color,sort_type:sort_type,sort_value:sort_value},

        }).done(function(data){
            if(data==="nil"){
                $(".contents-loading").hide();
                end_param = false;
                $(".contents-end>span").text("오브제 리스트 추가 요청하기");
                $(".contents-end").show();
            }
            else{
                bool = true;

                $.each(data, function(index, record){
                raw_data = "<div class=\"modal-product-item\" style='' wow=hello>\n" +
                    "      <a id=\"item"+record.id+"\" onclick=\"ga('send','event','recommend','popup','"+record.id+"');product_rcmd_popup('"+record.id+"','"+record.merchant_title+"','"+record.url+"')\">\n" +
                    "        <img width='100%'class=\"modal-product-img\" src='"+ record.img_url +"' onerror=\"imgError(this,'product',"+record.id+")\">\n" +
                    "      </a>\n" +
                    "          <div name=\"likeitem"+record.id+"\" class='likebutton-item "+record.like_status+"' onclick=\"userlike(this,'item','"+record.id+"');ga('send','event','product','like','"+record.id+"');\"></div>\n" +
                    "        <a onclick=\"ga('send','event','recommend','popup','"+record.id+"');product_rcmd_popup('"+record.id+"','"+record.merchant_title+"','"+record.url+"')\">\n" +
                    "            <div class=\"modal-product-detail\">\n" +
                    "              <span>"+record.title+"</span><br>\n" +
                    "              <span class=\"product-price\">"+record.price+"</span>\n" +
                    "              <span></span>\n" +
                    "            </div>\n" +
                    "        </a>\n" +
                    "      </div>";

                append_data = $($.parseHTML(raw_data));
                if(bool) {
                    $(".browser-contents").find(".body-divide").eq(0).append(append_data);
                }else {
                    $(".browser-contents").find(".body-divide").eq(1).append(append_data);
                }
                bool = !bool;
                });
            }

        });

        height1 = $(".browser-contents").find(".body-divide").eq(0).height();
        height2 = $(".browser-contents").find(".body-divide").eq(1).height();
        if(height1>height2){
            $(".browser-contents").find(".body-divide>div").eq(0).last().appendTo( $(".browser-contents").find(".body-divide").eq(1));
        }else{
            $(".browser-contents").find(".body-divide>div").eq(1).last().appendTo( $(".browser-contents").find(".body-divide").eq(0));
        };

    };

</script>