// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//front index page
@import "bootstrap-sprockets";
@import "bootstrap";

*{

  //border:solid 1px black;
}

html, body{

height:100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a{
  text-decoration: none !important;
  color:black;
}
a:visited {color:inherit;}  /* visited link */
a:hover {color:inherit;}  /* mouse over link */
a:active {color:inherit;}

.pcindex{
  background-image:url(/assets/pcindex.jpg);
  background-size:100% 100%;
  height:100%;
  width:100%;
}

.background-grey{
  background:#e8e8e8;
}
.overflow-y-hidden{
  overflow:hidden!important;
}
//icon mother

.iconimg{
  background-size:40%;
  background-position:center;
  background-repeat: no-repeat;
}

//loading image
.contents-loading{
  height:20vh;
  background-image:url("/assets/loading.svg");
  background-position:top;
  background-size:15%;
  background-repeat:no-repeat;
}



// top nav bar

.top-bar{

display:table;
width:100%;
height:8vh;
text-align:center;
background-color: rgb(201,201,201);
margin-bottom:1%;
position:fixed;
top:0;
z-index: 10;

}

    .itemsearch-button{
      position: absolute;
      height: 80%;
      top: 10%;
      right: 10px;
      width: 20%;
      background-image: url("/assets/ICON/search.png");
      background-size: 50%;
      background-repeat:no-repeat;
      background-position: right;
    }
    .itemfilter-button{
      position: absolute;
      height: 80%;
      top: 10%;
      left: 10px;
      width: 20%;
      background-image: url("/assets/ICON/filter.png");
      background-size: 50%;
      background-repeat:no-repeat;
      background-position: left;
    }

	.service-title{

      vertical-align: middle;
      display: table-cell;
      font-size: 1.5em;
      color: transparent;
      background: url('/assets/intro/logos/mariazu.png') no-repeat center;
      background-size:30% 55%;

    }

//contents
.contents-frame{
  height:100%;
  //overflow-x:hidden;
}
//notibar
.notibar{

  height: 8vh;
  width: 100%;
  position: fixed;
  top: 7.9vh;
  background: #e9e9e9;
  z-index: 3;
  padding:2%;
  box-shadow: 1px 1px 8px grey;

}
.noti-tag{
  width:72%;
  height:100%;
  float:left;
  padding:2% 0%;
  font-size:1.1em;
  text-align:center;
}
.noti-tag>span{
  margin:2%;
  color: rgba(0,0,0,0.5);
  font-weight: 500;
}
.noti-button{
  width:28%;
  height:100%;
  border:white 1px solid;
  border-radius:6px;
  background:rgb(201,201,201);
  float:left;
  display: table;
}
.noti-button:active{
  background:rgba(0,0,0,0.5);
}
.noti-button>span{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color:white;
}

//search - notibar replce
.search-input{
  float:left;
  width:85%;
  height:100%;
}
.search-input>input{
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  box-shadow: inset 1px 1px 3px 0px grey;
}
.search-submit{
  float:left;
  width:25%;
  height:100%;
}
.search-submit>div{
  width:80%;
  height:100%;
  margin:auto;
  border-radius:3px;
  border:grey 1px solid;
}
.search-end{
  text-align:center;
  float:left;
  color:rgba(0,0,0,0.4);
  line-height:40px;
  width:15%;
  height:100%;
}

// tag-browser

.tag-browser{

height:15vh;
width:100%;
position:fixed;
top:7.9vh;
background: white;
padding:1%;
z-index: 3;
box-shadow:1px 1px 8px grey;

}

	.tag-button{

	display:table;
	height:43%;
	width:22vw;
    margin:1% 1vw 1% 1vw;
    //margin-top:1%;
    //margin-bottom:1%;
    //margin-left:1.3%;
    //margin-right:1.3%;
	float:left;
	border-radius:6px;
	border:solid 1px #a7c9a9;
    color:#6d6d6d;

	}

    .tag-button-clicked{
    color:white!important;
    background-color:#a7c9a9!important;
    }

	.tag-text{

	display:table-cell;
	vertical-align:middle;
	text-align:center;
	font-size:1em;


	}


// browse_contents

.browser-contents{

height:78%;
width:100%;
-webkit-overflow-scrolling: touch;
margin-top:17vh;


}

	.content-block{

	height:14%;
	width:100%;
    position:relative;
	}


	.content-ranking{
	height:100%;
	width:10%;
	display:table;
	text-align:center;
	float:left;
	}
		.ranking-number{
		display:table-cell;
		vertical-align:middle;
		font-size:1.3em;
        color: #95989a;
		}
	.content-thumbnail{
	float:left;
	height:100%;
	width:21%;
    margin-right:4%;
	}
      .thumbnail-img{
        margin:auto;
        margin-top:12%;
        height:75%;
        width:100%;
        border-radius:4px;
        background-size:100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .content-thumbnail-img{
        width:100%;
      }

    .likebutton-shop{
      position: absolute;
      height: 80%;
      width: 17%;
      top: 5%;
      right:-10px;
      background-image: url(/assets/ICON/shoplike.png);
      background-size: 35%;
      background-repeat: no-repeat;
      background-position: center;

    }

    .likebutton-shop-clicked{
      background-image: url("/assets/ICON/likeshop-touch.png");
    }
	.content-title{
	float:left;
    height:50%;
    display: table;
	}
      .title-text{
      display:table-cell;
      color:black;
      vertical-align:bottom;
      font-size:1.2em;


      }
	.content-explain{
	float:right;
    width:20%;
    height:50%;
    display: table;

	}
      .explain-text{
      display:table-cell;
      vertical-align: bottom;

      }
	.content-hashtag{
    float:left;
    display: table;
    height:50%;
    width:60%;

	}

      .hashtag-cell{
        display:table-cell;
        vertical-align:top;
        color:#a8a8a8;

      }

    .content-border{
      margin-top:0;
      margin-bottom:0;
      margin-left: 2.5%;
      margin-right:2.5%;
      width:95%;
      height:1px;
    }


//footer
.footer{
  height:7vh;
  position:fixed;
  bottom:0;
  width:100%;
  z-index: 10;
  background: rgba(232,232,232,0.7);
  border-top:1px #e8e8e8 solid;
  text-align: center;
}

.footer-button{
  height:100%;
  width:25%;
  float:left;
  display: table;

}

.footer-button>span{
  display: table-cell;
  vertical-align: middle;
  font-size:2em;
  color: #000;

}

.shop{
  background-image: url("/assets/ICON/footer/shop.png");
}
.shop-clicked{
  background-image: url("/assets/ICON/footer/shop-clicked.png");
  background-size:30%;
}
.likeshop{
  background-image: url("/assets/ICON/footer/likeshop.png");
}
.likeshop-clicked{
  background-image: url("/assets/ICON/footer/likeshop-clicked.png");
}
.product{
  background-image: url("/assets/ICON/footer/item.png");
}
.product-clicked{
  background-image: url("/assets/ICON/footer/item-clicked.png");
  background-size:28%;
}
.likeitem{
  background-image: url("/assets/ICON/footer/likeitem.png");
}
.likeitem-clicked{
  background-image: url("/assets/ICON/footer/likeitem-clicked.png");
}
.etc{
  background-image: url("/assets/ICON/footer/etc.png");
}
.etc-clicked{
  background-image: url("/assets/ICON/footer/etc-clicked.png");
}

//modal

.close-modal{
  position:fixed;
  top:2%;
  right:3%;
  color:white;
  font-size:2em;
  font-weight:600;
  z-index:1;
}
.close-modal>span{

}

//shop-product list modal
.modal.fade:not(.in) .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
}
.shop-product-popup .modal-dialog{
  margin:0;
  height:100%;
}

.modal-content{
  padding:0;
  height:100%;
  border-radius:0px;
  border:0;
}
  .modal-header{
    padding:0;
    height:8vh;
    background-color:rgb(201,201,201);
    color:white;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
 }
    .modal-header .shrink{
      min-height:10%;
//나중에 기능 추가해보자 이거 하려면 탑바랑 컨텐츠가 같은 div 상에 존재해야 편할듯
    }
    .modal-header-left{
      float:left;
      width:15%;
      height:100%;
    }
    .modal-header-right{
      float:left;
      width:15%;
      height:100%;

    }
      .backbutton{
        float:left;
        height:100%;
        width:100%;
        display:table;
        text-align:left;
        padding:10%;
      }
        .backbutton>span{
          display:table-cell;
          vertical-align:middle;
          font-size:1.5em;

        }
    .modal-header-center{
      float:left;
      width:70%;
      height:100%;
    }
      .modal-shoptitle{
        text-align:center;
        height:100%;
        width:100%;
        display:table;
      }
        .modal-shoptitle > span{
          display:table-cell;
          vertical-align:middle;
          font-size:1.5em;
        }


  .modal-body{
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    height:90%;
    width:100%;
    background:#e8e8e8;
  }
    .body-divide{
      width:50%;
      float:left;

    }
      .modal-product-item{
        background: white;
        box-shadow:1px 1px 3px grey;
        width:96%;
        margin:5% 1% 5% 1%;
        border-radius:3px;
        min-height:30%;
        position:relative;
      }

        .modal-product-img{
          width:100%;
        }

        .likebutton-item{
          position: absolute;
          top: 1px;
          right: 1px;
          background-image: url(/assets/ICON/like.png);
          height: 60px;
          width: 60px;
          background-size: 55%;
          background-repeat: no-repeat;
          background-position: right top;
        }
        .likebutton-item-modal{
          width:15%;
          height:100%;
          float:left;
          background-image: url(/assets/ICON/like.png);
          background-size: 55% 58%;
          background-repeat:no-repeat;
          background-position: center;
        }
        .likebutton-item-clicked{
          background-image:url("/assets/ICON/likeitem-touch.png");
        }

        .modal-product-detail{
          text-align:center;
        }
  .modal-footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:10%;
    display:table;
    text-align:center;
    background: rgba(128,128,128,0.5);
    border:none;
  }
    .modal-footer > span{
      display: table-cell;
      vertical-align: middle;
      color:white;
      text-decoration: none;
      font-size:1.2em;
    }


//필터 모달
.filter-dialog{
  height:95%;
}
.modal-filter-body{
  padding:1%;
  border-bottom: solid grey 1px;

}
.modal-filter-body-header{
  color:black;
  font-size:1.3em;
}
.modal-filter-list{
  display:block;
}
.modal-filter-button{
  padding: 2.5%;
  margin: 1%;
  min-width:12vw;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  background-color: white;
  border: solid #a7c9a9 1px;
  color:#6d6d6d;
}
  .modal-filter-button>span{
  }


//login modal
.login-modal-position{
}
.login-dialog{
  height:100%;
  width:100%;
  margin:0;
}
.login-face{
  height: 100%;
  background-image: url(/assets/intro/intro.png);
  background-size: 100% 100%;
}
.login-padding{
  height:25%;
}
.login-header{
  height: 25%;
  width:100%;
  color:white;
  margin-bottom: 10%;
  background: rgba(0,0,0,0.4);
  display:table;
  text-align: center;
  font-size:1.3em;
}
.login-header>div{
  display: table-cell;
  vertical-align: middle;

}
.login-icon{
  width:23px;
}
.login-footer{
  padding-right: 3%;
  padding-top: 6%;
  font-size: 1.2em;
  text-align: right;
  height: 10%;
  color: white;
}

.naver{
  background-image: url(/assets/ICON/naver_login.png);
}
.kakao{
  background-image: url(/assets/ICON/kakao_login.png);
}

//intro modall
.intro{
}
.intro-dialog{
  height:100%;
  width:100%;
  margin:0;
}
.intro-body{
  height:100%;
  padding:0;
}

.face{
  height:100vh;
  background-image:url('/assets/intro/intro.png');
  background-size:100% 100%;
}
.face-index{
  width:100%;
  height:100%;
}
.face-padding{
  height:20%;
}
.face-logo{
  height:19%;
  background-image:url("/assets/intro/logos/mariazu.png");
  background-size:75%;
  margin-bottom:3%;
  background-repeat:no-repeat;
  background-position: bottom;
}
.face-slogan{
  text-align: center;
  font-size:1.2em;
  color:rgb(51,51,51);
}
.face-message{
  height:30%;
}
.face-message>a:visited{
  color:white;
  border-color:white;

}
.face-header{
  font-size:1.3em;
  color:white;
  text-align:center;
  text-shadow: 1px 0 4px grey, 0 1px 9px grey, 1px 0 3px grey, 0 -1px 6px grey;

}

.face-pick{
  width:100%;
  height:100%;
  padding:40% 0%;
  background: rgba(0,0,0,0.5);
}
.pick{
  height:100%;
}
.pick-header{
  height: 8%;
  text-align: center;
  color: white;
  font-size: 1.2em;
}
.pick-box{
  height: 85%;
  margin: 3%;
  padding: 5%;
  text-align: center;
  border: white 1px solid;
}
.pick-button{
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  min-width: 9%;
  height: 5.5vh;
  text-align: center;
  margin: 3% 2%;
  padding: 3%;
  display: inline-block;
  line-height:1;
}
.pick-button>span {

}

.ask-step{
  height: 25%;
  width: 50%;
  margin: 3% auto;
  font-size:1.3em;
  border-radius: 3px;
  background: rgba(0,0,0,0.3);
  display: table;
  border: solid 1px white;
}
  .ask-step>div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
  }
  .ask-step>div>img{
    padding-bottom:2px;
  }
.login-step{
  color:white;
  text-align: center;
  margin-top:10px;
}
.face-login{
  color: white;
  border: solid 1px white;
  font-size: 1.2em;
  padding: 1px;
}
.face-footer{
  padding-right: 3%;
  font-size: 1.2em;
  text-align: right;
  position: fixed;
  height: 8%;
  bottom: 0;
  width: 100%;
  right: 0;
  color: white;
}
  
//carousel
#index-carousel{
  height:100%;
}
#index-carousel>div{
  height:100%;
}

.item{
  height: 100%;
  background-size: 100% 100%;
}
.option-padding{
  padding: 4%;
  font-size: 2em;
  color: white;
  height:30%;
}
.option-vertical{
  float: left;
  height: 53%;
  width: 33%;
}
.option-horizon{
  height:16%;
}
//kjj품리스트
.contents-scroll{
  height:5%;
}

//likelist
.likelist{
  background-size: 95%;
  background-repeat:no-repeat;
  background-position: center;
}

.likelist-item-empty{
  background-image:url(/assets/likelist-item.png);
}
.likelist-shop-empty{
  background-image:url(/assets/likelist-shop.png);
  background-color:#e9e9e9;
}

//item focus
.item-focus-header{
  width:100%;
  height:48%;
  position:fixed;
  background:white;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 1px 1px 9px 0px grey;
}
.item-focus-header-fold{
  height:8vh;
}
.item-focus-title{
  padding: 0;
  height: 8vh;
  color: rgba(0,0,0,0.6);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.item-foucs-title-text{
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
}
.item-foucs-title-text>span{
  display: table-cell;
  vertical-align: middle;
  width:100%;
  font-size: 1.2em;
}
.item-header-body{
  height:82%;
  padding:5%;
}
.item-header-body>div{
  height: 100%;
  width: 50%;
  float:left;
}
.item-image{
  border-radius:3px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border:0.5px solid rgba(0,0,0,0.6);
}
.item-detail{
  padding:0% 2%;
  color:rgba(0,0,0,0.6);
}
.item-detail>div{
  float:left;
  height:25%;
  width:100%;
}
.item-detail>.title{
  display: table;
  text-align: center;
  font-size:1.2em;
}
.item-detail>.price{
  display:table;
  text-align: center;
}
.item-detail>.tags{
  display: table;
  text-align: center;
}
.item-detail>div>span{
  display: table-cell;
  vertical-align: middle;
}
.item-detail>.outlink>div{
  border: 1px solid grey;
  height: 80%;
  width: 70%;
  margin: auto;
  border-radius:3px;
  display:table;
  text-align: center;
}
.item-detail>.outlink>div>a{
  display: table-cell;
  vertical-align: middle;
  color:rgba(0,0,0,0.6);
}

.item-focus-dummy{
  height:48%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.item-focus-beforelogin{
  position: absolute;
  top:48%;
  left:0;
  height:52vh;
  width:100vw;
  background:rgba(0,0,0,0.6);
  z-index:1;
  display:table;
}
.item-focus-beforelogin>span{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  font-size:1.5em;
  color:white;
}
  //outlink

.top-backnav{
  height:7%;
  width:100%;
  font-size:1.3em;
  border-bottom:1px solid #95989a;
}
 .outlink-shopname{
    float:left;
    height:100%;
    display:table;
  }
    .outlink-shopname>span{
      display:table-cell;
      vertical-align: middle;
    }


.outlink-frame{
  width:100%;
  height:92%;
  position:relative;
  overflow:auto;
  -webkit-overflow-scrolling:touch;

}
  .outlink-iframe{
    border:none;
    height:1024px;
    width:1px;
    min-width:100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    -webkit-transform: scale(1.0);
    -webkit-transform-origin: 0 0;
  }

  .frametest{
    width:100%;
    height:100%;

  }
//bridge

.bridge{
  height:100%;
  background: url('/assets/bridge.png') no-repeat center;
}