<div class="modal-dialog" role="document">
<div class="modal-content login-modal-position">
  <div class="modal-header login-modal-header">
      <div class="modal-shoptitle">
        <span>로그인</span>
      </div>
  </div>
  <div class="modal-body login-modal-body">
    <p>로그인 후 마음에 드는 그릇을 내 그릇장에 저장해 보세요:)</p>
    <a href="/users/auth/naver"><div class="login-button naver"></div></a>
    <a href="/users/auth/kakao"><div class="login-button kakao"></div></a>

  </div>
</div>
</div>