<div class="modal-dialog" role="document" style="border-radius:15px;">
<div class="modal-content login-modal-position">
  <div class="modal-header login-modal-header">
      <div class="modal-shoptitle">
        <span>로그인</span>
      </div>
  </div>
  <div class="modal-body login-modal-body">
    <p>로그인 후 마음에 드는 그릇을 내 그릇장에 저장해 보세요:)</p>
    <a href="/users/auth/naver"><div class="login-button naver"></div></a>
    <a href="/users/auth/kakao"><div class="login-button kakao"></div></a>

    <a id="kakao-login-btn" style="display:none;"></a>
    <a href="http://developers.kakao.com/logout"></a>


  </div>
</div>
</div>
<script type='text/javascript'>
    Kakao.init('c73a1d8e4e61815c918d98d6b7922197');
    // 카카오 로그인 버튼을 생성합니다.
    Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        success: function(authObj) {
            alert(JSON.stringify(authObj));
            $.ajax({
                url:'/kakao',
                data:{token:authObj.access_token},
                method:'POST'
            });
        },
        fail: function(err) {
            alert(JSON.stringify(err));
        }
    });
    //]]>
</script>