<script>


    function filter_apply(){

        var category = $("#카테고리>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var style = $("#스타일>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var purpose = $("#용도>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var hashtag = style+','+purpose;
        //카테고리 스타일 용도를 층별로 모
        end_param = true;
        page = 1;
        $(".contents-frame").load('/contents/item/?id='+category+'&hashtag='+hashtag,function(){
            $(".noti-button").attr('onclick','reset_filter()');
            $(".noti-button>span").text('초기화');
        });
        $(".tag-browser>.tag-button-clicked").removeClass("tag-button-clicked");

        $(".modal").modal('hide');
        window.scrollTo(0,1);
    }

    function filter_toggle(a){

        $(a).parent().find(".modal-filter-button").not(a).removeClass("tag-button-clicked");
        $(a).toggleClass("tag-button-clicked");

    }

    function reset_filter(){
        $(".modal-filter-button").removeClass("tag-button-clicked");
        section_transfer('product');
    }

</script>
<div class="modal-dialog filter-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-header-left">
        <div class="backbutton" data-dismiss="modal">

          <span class="glyphicon glyphicon-menu-left"></span>
        </div>
      </div>
      <div class="modal-header-center">
        <div class="modal-shoptitle">
          <span>상품검색필터</span>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <% @render_hash.each do |k,v| %>
      <div class="modal-filter-body">
        <div class="modal-filter-body-header">
          <span><%=k%></span>
        </div>
        <div class="modal-filter-list" id="<%=k%>">
        <% v.each do |tag| %>
          <div  id='<%=tag%>' class="modal-filter-button" onclick="filter_toggle(this)">
            <span><%=tag%></span>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>
      <div style="height:10vh;"></div>
    </div>
    <a onclick="filter_apply()">
      <div class="modal-footer">
        <span>필터 적용하기</span>
      </div>
    </a>
  </div>
</div>

