<script>
    $('.shop-product-popup').on('show.bs.modal', function() {
        var modal = this;
        var hash = modal.id;
        window.location.hash = hash;
        window.onhashchange = function() {
            if (!location.hash){
                $(modal).modal('hide');
            }
        }
    });

    $('div.modal').on('hidden.bs.modal', function() {
        var hash = this.id;
        history.replaceState('', document.title, window.location.pathname);
    });

    // when close button clicked simulate back
    $('div.modal button.close').on('click', function(){
        window.history.back();
    })

    // when esc pressed when modal open simulate back
    $('div.modal').keyup(function(e) {
        if (e.keyCode == 27){
            window.history.back();
        }
    });

    function filter_apply(){

        var category = $("#카테고리>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var style = $("#스타일>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var purpose = $("#용도>.tag-button-clicked").map(function(){return this.id}).get().join(',');
        var hashtag = style+','+purpose;
        //카테고리 스타일 용도를 층별로 모

        $(".browser-contents").load('/contents/item/?id='+category+'&hashtag='+hashtag,function(){}).scrollTop(1);
        $(".modal").modal('hide');
    }

    function filter_toggle(a){
        $(a).parent().find(".modal-filter-button").not(a).removeClass("tag-button-clicked");
        $(a).toggleClass("tag-button-clicked");
    }

</script>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-header-left">
        <div class="backbutton" data-dismiss="modal">

          <span class="glyphicon glyphicon-menu-left"></span>
        </div>
      </div>
      <div class="modal-header-center">
        <div class="modal-shoptitle">
          <span>상품검색필터</span>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <% @render_hash.each do |k,v| %>
      <div class="modal-filter-body">
        <div class="modal-filter-body-header">
          <span><%=k%></span>
        </div>
        <div class="modal-filter-list" id="<%=k%>">
        <% v.each do |tag| %>
          <div  id='<%=tag%>' class="modal-filter-button" onclick="filter_toggle(this)">
            <span><%=tag%></span>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>
      <div style="height:10vh;"></div>
    </div>
    <a onclick="filter_apply()">
      <div class="modal-footer">
        <span>필터 적용하기</span>
      </div>
    </a>
  </div>
</div>

