<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-header-section">
        <div class="backbutton" data-dismiss="modal">

          <span class="glyphicon glyphicon-menu-left"></span>
        </div>
      </div>
      <div class="modal-header-section">
        <!--<div class="modal-shoplogo"></div>-->
        <div class="modal-shoptitle">
          <span><%=@merchant.title%></span>
        </div>
        <!--<div class="modal-shoptags"><%= %></div>-->
      </div>
      <div class="modal-header-section">

      </div>
    </div>
    <div class="modal-body">
      ...
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
    <a href="<%=@merchant.url%>" target="_blank">
      <div class="modal-footer">
        <span>쇼핑몰로 이동</span>
      </div>
    </a>
  </div>
</div>
