<div class='browser-contents'>

	<% @merchant.each do |record| %>
	
	<div class=content-block>
	
		<div class=content-ranking>
			<span class=ranking-number>1</span>
		</div>
		<div class=content-thumbnail>

		</div>
		<div class=content-title>

		</div>
		<div class=content-explain>

		</div>
		<div class=content-hashtag>

		</div>


	</div>		
	


	<% end %>


</div>
